@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');


.tag{
    padding: 0px 100px;
    position: absolute;
    top: 0.8%;
    right: -28.9%;
    transform: rotateZ(45deg);
    background-color: rgba(59, 100, 139, 0.959);
    font-family: "Caveat", cursive;
    font-size: 2em;
    text-align: center;
    margin: 20px;
}
.form{
    overflow: hidden;
    position: relative;
    font-family: "Gochi Hand", cursive;
    padding: 20px;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    margin: auto;
    animation: pop-up 0.5s linear forwards;
}
.fieldSet{
    border: 4px dotted rgba(0, 0, 0, 0.5);
    padding: 20px 30px;
    min-width: 300px;
    min-height: 400px;
}
.legend{
    font-size: 2em;
}
.label ,.input{
    display: block;
    margin: 10px;
} 
.label{
    font-size: 1.5em;
}
.input{
    outline: none;
    border: none;
    font-size: 1.1em;
    width: 90%;
    padding: 10px 5px;
    background-color: white;
}
.input:focus{
    border-bottom:3px solid rgba(0, 0, 0, 0.6);
}
.input:user-valid{
    border-bottom:3px solid rgb(37, 117, 37);
}
.input:user-invalid{
    border-bottom:3px solid rgb(181, 17, 17);
}
.button{
    font-family: "Gochi Hand", cursive;
    font-weight: 600;
    width: 90%;
    font-size: 1.5em;
    padding: 5px 10px;
    border: 2px solid rgba(0, 0, 0, 0.6);
    background-color: transparent;
    cursor: pointer;
    margin: 10px;
}
.button:active{
    box-shadow: inset 4px 4px 6px -1px rgba(0,0,0,0.2),
	            inset -4px -4px 6px -1px rgba(255,255,255,0.7),
	            -0.5px -0.5px 0px rgba(255,255,255,1),
                0.5px 0.5px 0px rgba(0,0,0,0.15),
	            0px 12px 10px -10px rgba(0,0,0,0.05);
    transform: scale(0.99);
}
.logIn{
    font-size: 1.1em;
    text-align: center;
    margin: 10px;
}
.logIn > a{
    font-size: 1.15em;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.6);
}
.logIn > a:hover{
    color: rgb(37, 117, 37);
    text-decoration: underline;
    cursor: pointer;
}


@keyframes pop-up {
    0% {
        transform: rotateZ(0deg) scale(0);
    }
    20% {
        transform: rotateZ(144deg) scale(0.2);
    }
    40% {
        transform: rotateZ(288deg) scale(0.4);
    }
    60% {
        transform: rotateZ(432deg) scale(0.6);
    }
    80% {
        transform: rotateZ(576deg) scale(0.8);
    }
    100% {
        transform: rotateZ(720deg) scale(1);
    }

}