.heroSection{
    width: 100%;
    /* height: 650px; */
    min-height: 650px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* background-color: blueviolet; */
}
.leftSection{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    /* background-color: blue; */
}
.rightSection{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    padding: 20px;
    /* background-color: #699b1e; */
    /* animation: appear 1s ease; */
}
.h1{
    color: #e7bc23;
}
.h1 > .recipeSpan{
    color: #7cb427;
}
/* .burgerImage, .tacoImage{
    width: 300px;
    position: absolute;
} */
.grandmaImage{
    height: 500px;
    width: 550px;
}
.button, .viewRecipesButton{
    cursor: pointer;
    border: 5px double ;
    padding: 10px;
    background: transparent;
    font-family: "Ubuntu", sans-serif;
    font-size: larger;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.loginButton{
    border-color: #699b1e;
    color: #699b1e;
}
.signUpButton{
    border-color:#cca827;
    color:#cca827;
}
.viewRecipesButton{
    width: 60%;
    border-color:rgb(60, 60, 60);
    color: rgb(60, 60, 60);
    transition: transform 0.2s ease;
}
.viewRecipesButton:hover{
    transform: scale(1.03);
}
.button:hover{
    gap: 5px;
}
.button:hover .arrowImage{
    width: 20px;
}
.arrowImage{
    width: 0px;
    transition: width 0.2s ease;
}
.button:active,
.viewRecipesButton:active{
    box-shadow: inset 4px 4px 6px -1px rgba(0,0,0,0.2),
	            inset -4px -4px 6px -1px rgba(255,255,255,0.7),
	            -0.5px -0.5px 0px rgba(255,255,255,1),
                0.5px 0.5px 0px rgba(0,0,0,0.15),
	            0px 12px 10px -10px rgba(0,0,0,0.05);
    transform: scale(0.99);
}
.buttons{
    width: 60%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}
.description{
    line-height: 20px;
    font-size: 20px;
    font-weight: 600;
    color: rgb(64, 64, 64);
    border-bottom: 2px dotted rgb(64, 64, 64);
    padding-bottom: 5px;
}
.usersSection{
    display: flex;
    align-items: center;
    gap: 30px;
}
.users{
    display: flex;
    align-items: center;
}
.addSign{
    width: 40px;
}
.usersNumber, .families{
    font-size: 22px;
    font-weight: 600;
}
.profileimages{
    display: flex;
}
.profileImage{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    padding: 3px;
    background: url('./assets/squared-watercolor-paper_1194-5735.avif');
    margin-right: -20px;
}

@keyframes appear {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}