.form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 40%;
    /* background-color: aqua; */
}
.inputBlock{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;
}
.inputBlock label{
    font-size: 1.2rem;
    font-weight: 500;
    color: #333;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.inputBlock input, .inputBlock textarea{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.2rem;
    padding: 0.6rem;
    border: 1px solid #ccc;
    background-color: rgba(255, 255, 255, 0.662);
    width: 100%;
}
.inputBlock input:focus, .inputBlock textarea:focus{
    outline: none;
    border-bottom:3px solid rgba(0, 0, 0, 0.6);
}
.inputBlock input::placeholder, .inputBlock textarea::placeholder{
    font-size: 1.2rem;
    color: #333;
}
.inputBlock input:user-valid , .inputBlock textarea:user-valid{
    border-bottom:3px solid rgb(37, 117, 37);
}
.inputBlock input:user-invalid , .inputBlock textarea:user-invalid{
    border-bottom:3px solid rgb(181, 17, 17);
}
.ingredientInput, .instructionInput{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    width: 100%;
}
.removeButton{
    color: rgb(60, 7, 7);;
    font-size: 1.2rem;
    cursor: pointer;
}
.addButton{
    color: rgb(7, 60, 7);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1rem;
    cursor: pointer;
    width: fit-content;
    padding: .2rem .5rem;
    border: 1px solid rgb(7, 60, 7);
    border-radius: 5px;
}
.addButton:hover{
    background-color: rgba(7, 60, 7, 0.862);
    color: white;
}
.inputBlock input[type="file"]{
    display: none;
}
.imageLabel{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.2rem;
    width: 100%;
}
.uploadIcon{
    font-size: 4.5rem;
    cursor: pointer;
    color: rgb(7, 60, 7);
}
.supportedFormats{
    font-size: .9rem;
    color: #333333d0;
}
.preview{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}
.imagePreview{
    aspect-ratio: 4 / 3;
    width: 100%;
    max-width: 400px;
    border-radius: 11px;
    object-fit: cover;
}
.submitButton{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.2rem;
    font-weight: 700;
    padding: 0.6rem;
    border: double 5px rgb(7, 60, 7);
    margin-block: 1rem;
    background-color: transparent;
    color: rgb(7, 60, 7);
    transition: all 0.3s ease;
}
.submitButton:hover{
    transform: scale(1.04);
}
.submitButton:active{
    transform: scale(1);
}