.offered{
    width: 100%;
    max-width: 1000px;
    padding-block: 20px;
    /* background-color: aliceblue; */
}
.title{
    text-align: center;
    color: #507912;
}
.subTitle{
    text-align: center;
}
.hr{
    margin: auto;
    margin-block: 15px;
}
.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.upperOffers{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}
.centerUpperOffers{
    display: flex;
    justify-content: center;
    align-items: center;
}
.foodImage3{
    width: 100%;
    max-width: 450px;
    /* background-color: blue; */
}
.leftUpperOffers, .rightUpperOffers{
    display: grid;
    grid-template-rows: 1fr 1fr;
    /* background-color: blue; */
    max-width: 250px;
}
.lowerOffers{
    width: 100%;
    max-width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: aquamarine; */
}
.offersDescription{
    padding: 20px;
    /* background-color: blueviolet; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 100%;

}
.offersDescription > h3{
    color: #507912;
    align-self: flex-start;
}

/* Media Queries */
@media screen and (max-width: 1050px) {
    .hr{
        width: 80%;
    }
    .upperOffers{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .leftUpperOffers, .rightUpperOffers{
        grid-template-rows: none;
        grid-template-columns: 1fr 1fr;
        max-width: 70%;
    }
    .lowerOffers{
        max-width: 50%;
    }
}

@media screen and (max-width: 600px) {   
    .foodImage3{
        max-width: 300px;
        margin: 0 auto;
    }
    .leftUpperOffers, .rightUpperOffers{
        display: flex;
        flex-direction: column;
    }
    .lowerOffers{
        max-width: 70%;
    }
    
}