@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');
.card{
    width: 100%;
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: "Caveat", cursive;
    /* background-color: antiquewhite; */
}
.h1{
    font-family: "Gochi Hand", cursive;
    margin: 0 0 10px 20px;
    font-size: 2em;
}
.ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.li{
    display: flex;
    align-items: center;
    gap: 20px;
}
.spanList{
    font-size: 1.6em;
    margin-block: 10px;
    border-bottom: dotted;
}
.bullet{
    width: 20px;
}