@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');
.card{
    margin: 0 auto;
    width: 100%;
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.hr{
    margin: 10px 0;
}
.h1{
    margin: 0 0 0px 20px;
    font-size: 2em;
}
.ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.li{
    line-height: 0px;
    display: flex;
    align-items: center;
    gap: 20px;
}
.spanList{
    line-height: 30px;
    font-size: 1.4em;
    margin-block: 10px;
    text-decoration: underline;
    text-decoration-style: dotted;
    text-underline-offset: 8px;
    text-decoration-thickness: 2px;
    text-decoration-color: rgba(64, 64, 64, 0.655);
    font-weight: 500;
}
.bullet{
    width: 20px;
}

@media screen and (max-width: 1200px) {
    .card{
        width: 80%;
    }
    .h1{
        font-size: 1.5em;
    }
    .spanList{
        font-size: 1.4em;
    }
    .bullet{
        width: 15px;
    }
}

@media screen and (max-width: 810px) {
    .spanList{
        font-size: 1.3em;
    }
}

@media screen and (max-width: 600px) {
    .h1{
        font-size: 1.25em;
    }
    .spanList{
        font-size: 1.25em;
    }
    .bullet{
        width: 10px;
    }
}
