@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.instructions{
    margin: 0 auto;
    width: 100%;
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: "Gochi hand", cursive;
}
.hr{
    margin: 10px 0;
}
.instructions h1{
    font-size: 2em;
    margin: 0 0 0px 20px;
}
.ol{
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.li{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}
.step{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-block: 10px;
}
.number{
    font-size: 1.4em;
}
.bullet{
    height: 20px;
    width: 20px;
}
.instruction{
    color: rgb(56, 53, 53);
    font-size: 1.2em;
    word-wrap: break-word;
}

@media screen and (max-width: 1200px) {
    .instructions{
        width: 80%;
    }
    .instructions h1{
        font-size: 1.5em;
    }
    .instruction{
        font-size: 1.1em;
    }
    .number{
        font-size: 1.25em;
    }
}

@media screen and (max-width: 810px) {
    .instruction{
        font-size: 1.05em;
    }
    .number{
        font-size: 1.2em;
    }
}

@media screen and (max-width: 600px) {
    .instructions h1{
        font-size: 1.25em;
    }
    .instruction{
        font-size: 1em;
    }
    .number{
        font-size: 1.1em;
    }
    .bullet{
        height: 15px;
        width: 15px;
    }
}
