.preparationDetails{
    border: solid 1px rgb(128, 127, 127);
    border-top: 10px solid #94d82d;
    border-radius: 6px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: fit-content;
}
.details{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
}
.detail{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}
.h3{
    width: fit-content;
    border-bottom: 2px dashed rgb(141, 141, 141);
    font-size: 1em; 
}
.p{
    font-size: 1.2em;
}

@media screen and (max-width: 810px) {
    .h3{
        font-size: 1em;
    }
    .p{
        font-size: 1.1em;
    }
}

@media screen and (max-width: 600px) {
    .preparationDetails{
        padding: 1em;
    }
    .p{
        font-size: 1.15em;
    }
}