@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* position: sticky;
    top: 20px; */
    width: 80%;
    height: 100px;
    margin: auto;
    padding: 0px 20px;
    border: 1px solid #333;
    color: #333;
    background: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(8px);
    /* z-index: 50; */
}
.logoSection{
    display: flex;
    align-items: center;
    gap: 10px;
}
.logoSection > .h1, .h1 > span{
    transition: all 0.5s;
}
.logoSection:hover{
    cursor: pointer;
}
.logoSection .h1{
    color: #e7bc23;
}
.logoSection .h1 > span{
    color: #7cb427;
}
.logo{
    width: 65px;
    height: 65px;
}
.h1{
    font-family: "Gochi Hand", cursive;
    font-size: 2em;
}
.navlinks{
    height: 100%;
}
.ulLinks{
    height: 100%;
    font-family: "Gochi Hand", cursive;
    display: flex;
    list-style-type:none;
}
.liLinks{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.liLinks > a{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 10px;
    text-decoration: none;
    color: #333;
}
.liLinks:hover{
    background-color: #7cb4271a;
    border-bottom: solid 3px #7cb427;
 }
.liLinks:active{
    background-color: #e7bd231b;
    border-bottom: solid 3px #e7bc23;
 }
@media screen and (max-width: 800px){
    .navbar{
        width: 95%;
    }
    .logoSection{
        gap: 5px;
    }
    .logo{
        width: 50px;
        height: 50px;
    }
    .h1{
        font-size: 1.5em;
    }
    .ulLinks{
        gap: 10px;
    }
    .liLinks > a{
        padding: 5px 5px;
    }
}