@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');

.navbar{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    max-width: 1300px;
    height: 90px;
    margin: auto;
    padding: 0px 20px;
    border: 1px solid #333;
    color: #333;
    background-color: transparent;
}
.navbar::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    z-index: -1;
}
a{
    text-decoration: none;
}
.logoSection{
    display: flex;
    align-items: center;
    gap: 10px;
}
.logoSection > .h1, .h1 > span{
    transition: all 0.5s;
}
.logoSection:hover{
    cursor: pointer;
}
.logoSection .h1{
    color: #7cb427;
}
.logoSection .h1 > span{
    color: #e7bc23;
}
.logo{
    width: 55px;
    height: 55px;
}
.h1{
    font-size: 1.7em;
}
.navlinks{
    height: 100%;
}
.ulLinks{
    height: 100%;
    display: flex;
    list-style-type:none;
}
.liLinks{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s;
}
.liLinks > a{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 10px;
    text-decoration: none;
    color: #333;
}
.liLinks:hover{
    background-color: #7cb4271a;
    border-bottom: solid 3px #7cb427;
    cursor: pointer;
 }
.liLinks:active{
    background-color: #e7bd231b;
    border-bottom: solid 3px #e7bc23;
 }
 .hamburgerIcon{
    display: none;
    width: fit-content;
    height: fit-content;
 }
.logoutButton{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 10px;
    text-decoration: none;
    color: #333;
}


@media screen and (max-width: 800px){
    .navbar{
        width: 95%;
        position: relative;
    }
    .logoSection{
        gap: 5px;
    }
    .logo{
        width: 50px;
        height: 50px;
    }
    .h1{
        font-size: 1.5em;
    }
    .hamburgerIcon{
        display: block;
    }
    .hideLinks{
        opacity: 0;
        pointer-events: none;
        transition: opacity 0.5s ease;
    }
    .showLinks{
        opacity: 1;
        transition: opacity 0.5s ease;
    }
    .navlinks{
        position: absolute;
        top: 130%;
        right: 0%;
        width: fit-content;
        height: fit-content;
        border: 1px solid #333; 
        background: rgba(255, 255, 255, 0.25);
        backdrop-filter: blur(8px);
        -webkit-backdrop-filter: blur(8px);
    }
    .ulLinks{
        flex-direction: column;
        gap: 10px;
        padding: 20px;
    }
    .liLinks{
        width: 100%;
        background-color: #7cb427; 
    }
    .liLinks:hover{
        border: none;
        background-color: #7cb4276e;
        border-left: solid 3px #333;
    }
    .liLinks:active{
        border: none;
        background-color: #e7bd236e;
        border-left: solid 3px #333;
    }
    .logoutButton:hover{
        border-top: solid 3px #333;
        border-bottom: solid 3px #333;
        border-right: solid 3px #333;
    }
}

@media screen and (max-width: 600px){
    .navbar{
        height: 60px;
    }
    .logo{
        width: 40px;
        height: 40px;
    }
    .h1{
        font-size: 1.2em;
    }
}