@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');

.tag{
    padding: 0px 100px;
    position: absolute;
    top: 0.8%;
    right: -28.9%;
    transform: rotateZ(45deg);
    background: linear-gradient( #a1841d, #eec738, #a1841d);
    font-family: "Caveat", cursive;
    font-size: 2em;
    text-align: center;
    margin: 20px;
}
.form{
    overflow: hidden;
    position: relative;
    font-family: "Gochi Hand", cursive;
    padding: 20px;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    margin: auto;
    animation: pop-up 1s ease-out forwards;
}
.fieldSet{
    border: 4px dotted rgba(0, 0, 0, 0.5);
    padding: 20px 30px;
    min-width: 300px;
    min-height: 400px;
}
.legend{
    font-size: 2em;
}
.label ,.input{
    display: block;
    margin: 10px;
} 
.label{
    font-size: 1.5em;
}
.input{
    outline: none;
    border: none;
    font-size: 1.1em;
    width: 90%;
    padding: 10px 5px;
    background-color: white;
}
.input:focus{
    border-bottom:3px solid rgba(0, 0, 0, 0.6);
}
.input:user-valid{
    border-bottom:3px solid rgb(37, 117, 37);
}
.input:user-invalid{
    border-bottom:3px solid rgb(181, 17, 17);
}
.forgot{
    height: 25px;
    position: relative;
}
.forgot > a{
    position: absolute;
    right: 20px;
    top: 0;
    font-size: 1.2em;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.6);
}
.forgot a:hover{
    color: rgb(137, 17, 17);
    text-decoration: underline;
    cursor: pointer;
}
.button{
    font-family: "Gochi Hand", cursive;
    font-weight: 600;
    width: 90%;
    font-size: 1.5em;
    padding: 5px 10px;
    border: 2px solid rgba(0, 0, 0, 0.6);
    background-color: transparent;
    cursor: pointer;
    margin: 10px;
}
.button:active{
    box-shadow: inset 4px 4px 6px -1px rgba(0,0,0,0.2),
	            inset -4px -4px 6px -1px rgba(255,255,255,0.7),
	            -0.5px -0.5px 0px rgba(255,255,255,1),
                0.5px 0.5px 0px rgba(0,0,0,0.15),
	            0px 12px 10px -10px rgba(0,0,0,0.05);
    transform: scale(0.99);
}
.signUp{
    font-size: 1.1em;
    text-align: center;
    margin: 10px;
}
.signUp > a{
    font-size: 1.15em;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.6);
}
.signUp > a:hover{
    color: rgb(37, 117, 37);
    text-decoration: underline wavy;
    text-decoration-skip-ink: none;
    text-underline-offset: 8px;
    cursor: pointer;
}

@keyframes pop-up {
    0% {
        opacity: 0;
        /* transform: scale(0); */
    }
    100% {
        opacity: 1;
        /* transform: scale(1); */
    }

}