/* @import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap'); */

@font-face {
    font-family: TheStudentsTeacher;
    src: url(./fonts/TheStudentsTeacher-Regular.ttf);
}
@font-face {
    font-family: CarvingSoft;
    src: url(./fonts/MADECarvingSoftPERSONALUSE-Regular.otf);
}
*{
    font-family: TheStudentsTeacher;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
h1, h2,h3, span, a{
    font-family: CarvingSoft;
}
.App{
    background: url('./squared-watercolor-paper_1194-5735.avif');
    min-height: 100vh;
    /* width: 100vw; */
    display: flex;
    flex-direction: column;
}
.navbar{
    /* background-color: aliceblue; */
    position: sticky;
    top: 20px;
    z-index: 10;
    margin: 20px auto;
    width: 100%;
}
.pages{
    /* background-color: aqua; */
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}
