@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');

*{
    font-family: 'Gochi hand', cursive;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.App{
    background: url('./squared-watercolor-paper_1194-5735.avif');
    min-height: 100vh;
    /* width: 100vw; */
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}
.navbar{
    /* background-color: aliceblue; */
    position: sticky;
    top: 20px;
    z-index: 50;
    margin: 20px auto;
    width: 100%;
}
.pages{
    /* background-color: aqua; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}
