.notFoundPage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
.h1{
    font-size: 12rem;
    color: #3333338a;
    line-height: 10rem;
}
.h2{
    font-size: 2rem;
    color: #3333338a;
}
.p{
    font-weight: 600;
    font-size: 1.5rem;
    color: #3333338a;
}
.countdown{
    font-size: 1.3rem;
    color: #333;
}

@media screen and (max-width: 768px){
    
    .h1{
        font-size: 8rem;
        line-height: 6rem;
    }
    .h2{
        font-size: 1.5rem;
    }
    .p{
        font-size: 1rem;
    }
    
}

